 
GamersClub.xcodeproj/project.xcworkspace/xcuserdata/egorilchenko.xcuserdatad/UserInterfaceState.xcuserstate
GamersClub.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GamersClub.xcodeproj/xcuserdata/egorilchenko.xcuserdatad/xcschemes/xcschememanagement.plist
GamersClub.xcodeproj/xcuserdata/egorilchenko.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
